body {
  font: 12px/1.5 'Microsoft YaHei';
  background: url(../images/bg/body-bg.jpg) no-repeat top center;
}

/* 头部
-------------------------------------------- */

#header {
  position: relative;
  margin: 0 auto;
  width: 1000px;
  background: url(../images/bg/header-bg.jpg) no-repeat top left;
}

#top hgroup {
  float: left;
}

#logo {
  display: block;
  margin-top: 8px;
  width: 153px;
  height: 112px;
  background-position: 0 0;
  text-indent: -9999px;
}

#top {
  height: 120px;
}

#top-bar {
  float: right;
  width: 447px;
}

#top-bar a {
  float: left;
  display: block;
  width: 112px;
  height: 36px;
  line-height: 32px;
  background-position: -878px 0;
  color: #fff;
  font-size: 14px;
  text-align: center;
}

#top-bar a.top-share {
  margin-right: 9px;
}

#banner {
  position: relative;
  width: 1000px;
  height: 320px;
  background: url(../images/bg/banner-title-bg.png) no-repeat 74px 12px;
  font-size: 16px;
}

#banner .banner-title {
  padding: 105px 0 0 318px;
}

.banner-title strong {
  color: #980808;
}

.banner-btn a {
  position: absolute;
  left: 320px;
  bottom: 0;
  display: block;
  width: 188px;
  height: 72px;
  line-height: 60px;
  background-position: -704px -169px;
  color: #f8d79e;
  font-size: 18px;
  -webkit-text-shadow: -1px 0 0 #000;
  -moz-text-shadow: -1px 0 0 #000;
  text-shadow: -1px 0 0 #000;
  text-align: center;
}

/* 内容
-------------------------------------------- */

#content {
  margin: 0 auto;
  width: 1000px;
}

.content-top,
.content-middle,
.content-bottom {
  position: relative;
  width: 1000px;
}

.content-top {
  height: 380px;
  background: url(../images/bg/content-top-bg.jpg) no-repeat;
}

.content-middle {
  height: 470px;
  background: url(../images/bg/content-middle-bg.jpg) no-repeat;
}

.content-bottom {
  height: 420px;
  background: url(../images/bg/content-bottom-bg.jpg) no-repeat;
}

/* 内容一 */

.content-tgc {
  float: left;
  padding: 28px 60px 0 55px;
  width: 385px;
}

.content-gift {
  padding: 28px 68px 0 12px;
  float: left;
  width: 420px;
}

.content-tgc .content-btn a,
.content-gift .content-btn a {
  float: right;
}

/* 内容二 */

.content-middle-about {
  padding: 22px 53px 0 60px;
}

.content-middle-btn {
  position: absolute;
  top: 30px;
  right: 74px;
}

.content-middle-btn a {
  float: left;
  display: block;
  width: 117px;
  height: 40px;
  line-height: 37px;
  color: #fff;
  font-size: 16px;
  text-align: center;
}

.content-middle-btn a.website {
  margin-right: 8px;
  background-position: -709px -64px;
}

.content-middle-btn a.getnumber {
  background-position: -709px -119px;
}

.content-middle-descr {
  margin-bottom: 20px;
  color: #650b0b;
  font-size: 14px;
}

#middle-slide {
  position: relative;
  margin-left: 4px;
  width: 878px;
  border: 2px solid #a13f23;
  color: #5b0505;
}

#middle-slide-nav ul {
  width: 182px;
}

#middle-slide-nav li {
  padding: 0 30px;
  height: 67px;
  border-right: 2px solid #a13f23;
  border-bottom: 2px solid #a13f23;
  background: url(../images/banner/banner-nav.jpg) no-repeat;
  cursor: pointer;
}

#middle-slide-nav li#slide-nav4 {
  border-bottom: 0;
}

#middle-slide-nav h5 {
  font-family: "宋体";
  font-size: 28px;
}

#middle-slide-nav span {
  font-size: 14px;
}

#middle-slideBanner {
  position: absolute;
  top: 0;
  left: 182px;
  width: 696px;
  height: 274px;
  overflow: hidden;
}

#middle-slideBanner ul {
  position: absolute;
  top: 0;
  left: 0;
}

#middle-slideBanner li {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

#middle-slideBanner li.first {
  display: block;
}

#middle-slideBanner img {
  font-size: 0;
  display: block;
}

#middle-slideBanner span {
  position: absolute;
  top: 130px;
  right: 80px;
  display: block;
  width: 164px;
  height: 66px;
  line-height: 63px;
  background-position: -164px -130px;
  font-size: 20px;
  text-align: center;
}

#middle-slideBanner a {
  color: #fff;
}

#middle-slide-nav #slide-nav1 {
  background-position: 0 0;
}

#middle-slide-nav #slide-nav2 {
  background-position: 0 -79px;
}

#middle-slide-nav #slide-nav3 {
  background-position: 0 -158px;
}

#middle-slide-nav #slide-nav4 {
  background-position: 0 -237px;
}

#middle-slide-nav #slide-nav1.on {
  border-right: 2px solid #f0e1b8;
  background-position: -190px 0;
}

#middle-slide-nav #slide-nav2.on {
  border-right: 2px solid #f0e1b8;
  background-position: -190px -79px;
}

#middle-slide-nav #slide-nav3.on {
  border-right: 2px solid #f0e1b8;
  background-position: -190px -158px;
}

#middle-slide-nav #slide-nav4.on {
  border-right: 2px solid #f0e1b8;
  background-position: -190px -237px;
}

/* 内容三 */

.content-bottom-version {
  float: left;
  padding: 32px 78px 0 55px;
  width: 367px;
}

.content-bottom-recom {
  position: relative;
  float: left;
  padding: 32px 40px 0 27px;
  width: 433px;
}

.content-bottom-version .content-title h2 {
  padding-left: 0;
  background-position: -163px -64px;
}

.content-bottom-version p {
  margin-bottom: 10px;
  font-size: 14px;
}

.content-bottom-version p,
.content-bottom-version .content-list,
.content-bottom-version .content-btn {
  padding-left: 16px;
}

.content-bottom-title h2 {
  position: relative;
  top: -13px;
  left: -66px;
  padding: 5px 0 0 70px;
  height: 66px;
  font: normal bold 28px "宋体";
  background-position: -154px -207px;
  color: #fff;
}

.content-bottom-version .content-list dt {
  margin-bottom: 10px;
}

.recom-content dl {
  float: left;
  margin: 10px 0;
}

.recom-content dt a {
  float: right;
  padding-bottom: 10px;
  width: 250px;
  color: #000;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.recom-content dd {
  margin-left: 180px;
}

.recom-content dd a {
  color: #5d0808;
}

.recom-content dd.img {
  margin-left: 0;
}

.recom-content dd img {
  float: left;
  margin-right: 10px;
  border: 2px solid #5b0505;
}

/* 底部
-------------------------------------------- */

#footer {
  margin: 0 auto;
  padding-top: 70px;
  width: 1000px;
  height: 63px;
  background: url(../images/bg/footer-bg.jpg) no-repeat center center;
  text-align: center;
}

#footer,
#footer a {
  color: #798675;
}

.footer-copyright ul li {
  display: inline-block;
  padding: 0 10px;
  border-right: 1px solid #798675;
}

.footer-copyright ul li.last {
  border-right: 0;
}

.footer-copyright .copytime {
  font-size: 10px;
}

/* 返回顶部
-------------------------------------------- */

#returnTop {
  position: fixed;
  top: 300px;
  right: 140px;
  width: 28px;
  height: 48px;
  line-height: 60px;
  color: #fff;
  background-position: 0 -130px !important;
  text-align: center;
  cursor: pointer;
}