/**
 * Correct `block` display not defined in IE 8/9.
 */

article,aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
    display: block;
}

body, div, dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6,
pre, form, fieldset, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}

article, aside, figure, figcaption, footer, header, hgroup, nav, section, summary {
	display: block;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset, img {
	border: 0;
}

address, caption, cite, dfn, em, strong, th, var {
	font-style: normal;
	font-weight: normal;
}

ol, ul {
	list-style: none;
}

caption, th {
	text-align: left;
}

h1, h2, h3, h4, h5, h6 {
	font-size : 100%;
	font-weight: normal;
}

q:before, q:after {
	content: '';
}

abbr, acronym {
	border: 0;
}

body {
	font-family: Microsoft YaHei,Verdana, Arial;
	font-size: 12px;
}

a:link,
a:visited {
	text-decoration: none;
}

input, button, textarea {
	outline: none;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	height: 0;
	clear: both;
}
* html .clearfix {
	zoom: 1;
}
*:first-child+html .clearfix {
	zoom: 1;
}