.phone-icons {
	background: url("../img/sprites/phone-icons.png") no-repeat;
}
.system-icons {
	background: url("../img/sprites/system-icons.png") no-repeat;
}
.share-icons {
	background: url("../img/sprites/share-icons.png") no-repeat;
}